
  .flex-box{
    display:  flex;
    padding: 30px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
  
  .custom-select select {
    background-color: orange;
    color: white;
    width: 220;
    height: 45;
    border-radius: 12px;
    direction: rtl;
  }

  .custom-select2  {
      color: white;
      height: 50px;
      width: 200px;
      margin-top: 0px;
      margin-left: 920px;

  }
  .Search-b {
    color: blueviolet;
    height: 50px;
    width: 50px;


  }

