
.flex-box div{
    display: flex;
    padding: 30px;
    border: 1px solid black;
}

.header {
    padding: 30px;
    text-align: center;
    background: rgb(247, 177, 47);
    color: lightyellow;
    font-size: 30px;
    background-image: url('pictures/logo.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 175px;
    border-color: rgb(247, 177, 47);
  }


  .pic:after {
    content: "";
    flex: 0 0 25%;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

  .pic:after {
    background-image: url("pictures/basic_dfs.jpeg");
    background-position: right;
  }
  .pic2:after {
    content: "";
    flex: 0 0 25%;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  .pic2:after {
    background-image: url("pictures/dfs-m.png");
    background-position: right;
    background-size: 212px;
    margin-left: -10px;
    
  }
  .pic3:after {
    content: "";
    flex: 0 0 25%;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  .pic3:after {
    background-image: url("pictures/algo-drive.png");
    background-position: right;
    margin-left: 52px;
    background-size: 212px;

  }
  .flex-box-res2 {
    padding: 60px;
    text-align: center;
    background: rgb(247, 177, 47);
    color: lightyellow;
    font-size: 200px;
    background-image: url('pictures/big_d.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 175px;
    border-color: rgb(247, 177, 47);
  }

  