
  .flex-box{
    display:  flex;
    padding: 30px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
  
  .custom-select select {
    background-color:rgb(136, 145, 156);
    color: black;
    width: 220;
    height: 45;
    font-size: 25px;

    border-radius: 12px;
    direction: rtl;
  }

  .custom-select2  {
      color: white;
      height: 50px;
      width: 200px;
      margin-top: 0px;
      margin-left: 920px;

  }
  .custom-select2  select{
    color: white;
    width: 220;
    height: 45;
    margin-top: 0px;
    margin-left: 920px;

}
  .Search-b {
    color: blueviolet;
    height: 200px;
    width: 200px;


  }

