.flex-box{
    display:  flex;
    border: 10px solid yellow;
    padding: 40px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}
.flex-box div{
    display: flex;
    padding: 30px;
    border: 1px solid black;
}